<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
    <link rel="manifest" href="/app/manifest.json?{{.ParamsStr}}">
</head>
<body>
    <h1>Web app ready to be installed ! You can install it by using your browser install button, or the button below</h1>
    
    <h1>You chose these options:</h1>
    <p>Name: {{.Name}}</p>
    {{if not .ShortName}}
        <p>Short name not set (will default to Name: {{.Name}})</p>
    {{else}}
        <p>Short name: {{.ShortName}}</p>
    {{end}}
    <p>Start URL: {{.StartURL}}</p>

    <button onclick="install()">Install</button>
    
    <script>
        let installPrompt = null;

        // is called once at page startup, and then every time the user cancels app installation
        window.addEventListener("beforeinstallprompt", (event) => {
            event.preventDefault();
            installPrompt = event;
        });

        async function install() {
            if (!installPrompt) {
                alert("Oops ! It seems like the install button doesn't work in this browser. Try to use the native browser install button. If there is none, your browser probably doesn't support PWAs, or the PWA was deemed invalid for some reason.")
            }
            installPrompt.prompt();
            const { outcome } = await installPrompt.userChoice;
            if (outcome == "dismissed") {
                alert("You dismissed the app installation popup. The app was not installed.")
            }
            installPrompt = null;
        }
    </script>
</body>
</html>