<!DOCTYPE html>
<html>
<head>
    <title>Anything is PWA</title>
</head>
<body>
    <script src="static/index.js" defer></script> 

    <a href="https://github.com/iTrooz/AnythingIsPWA">Source code and explanation: Click here</a>
    <br>
    <br>

    <!-- See https://stackoverflow.com/a/57791136 -->
    <form name="form" onsubmit="validateForm(); return false" action="/app" >
        <label for="start_url">URL of the website:</label>
        <input id="start_url" type="text" name="start_url">
        <br>
        
        <label for="name">Name:</label>
        <input id="name" type="text" name="name">
        <br>

        <label for="short_name">Short name:</label>
        <input type="text" name="short_name">
        <br>

        <label for="icon_url">Icon link <bold>(must be png, and at least 144x144)</bold>:</label>
        <input type="text" name="icon_url">
        <br>
        <br>

        <p id="hint"></p>

        <br>
        <br>
        <input type="submit" value="Generate PWA manifest">
    </form>
</body>
</html>