<!DOCTYPE html>
<html>
<head>
    <title>Everything is PWA</title>
</head>
<body>
    <form action="/app">
        <label for="name">Name:</label>
        <input type="text" name="name" required>
        <br>

        <label for="short_name">Short name:</label>
        <input type="text" name="short_name">
        <br>

        <label for="start_url">URL:</label>
        <input type="url" name="start_url" required>
        <br>
        
        <label for="icon_url">Icon link <bold>(must be png, and at least 144x144)</bold>:</label>
        <input type="url" name="icon_url">
        <br>
        <br>

        <input type="submit" value="Generate PWA manifest">
    </form>
</body>
</html>